* {
  border: none;
  font-family: "monospace";
  font-size: 12px;
  min-height: 0;
  border-radius: 10px;
}

window#waybar {
  background: rgba(17, 17, 27, 1);
  border-radius: 0;
}

#workspaces,
#tray,
#pulseaudio,
#network,
#custom-launcher,
#clock {
  margin: 4px;
  padding: 4px 10px;
}

/* Workspaces */
#workspaces {
  background: #25253a;
  color: #cba6f7;
}

#workspaces button {
  color: #89b4fa;
  background: rgba(17, 17, 27, 1);
  transition: all 0.3s;
  margin: 0px 2px;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #11111b;
  background-size: 400% 400%;
  transition: all 0.3s;
}

#workspaces button:hover {
  background-color: #f5f5f5;
  color: #11111b;
  background-size: 400% 400%;
}

/* Tray, Pulseaudio, Network, Battery, and Player Controls */
#tray,
#pulseaudio,
#network,
#battery,
#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  background: #25253a;
}

#tray,
#pulseaudio,
#network,
#battery {
  color: #f5f5f5;
}

/* Clock */
#clock {
  color: #f5f5f5;
  background: #25253a;
}

/* Custom Launcher */
#custom-launcher {
  font-size: 16px;
  color: #89b4fa;
  background: #25253a;
  padding: 2px 15px 2px 12px;
}

/* Notification */
#custom-notification {
  background: #25253a;
  padding: 4px 13px 4px 10px;
  margin: 4px;
  font-size: 16px;
}

/* Custom Player Controls */
#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.foward {
  background: #25253a;
  font-size: 18px;
  padding: 0px 2px 0px 10px;
  margin: 4px 3px;
}

#custom-playerctl.backward:hover,
#custom-playerctl.play:hover,
#custom-playerctl.foward:hover {
  color: #f5f5f5;
}

#custom-playerctl.backward {
  color: #cba6f7;
}

#custom-playerctl.play {
  color: #89b4fa;
}

#custom-playerctl.foward {
  color: #cba6f7;
}

#custom-playerlabel {
  background: #25253a;
  color: #f5f5f5;
  margin: 4px 3px;
  padding: 0px 8px;
}
